body {
  margin: 0;
  padding: 0;
    font-family: 'PT Sans', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #363636;
  background: #f7f7f7;
  margin-left: auto;
  margin-right: auto;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}


span, a, button {
  color: #363636;
  font-family: 'PT Sans', Arial;
  text-decoration: none;
}

a {
  text-decoration: underline;
}

h1, h3 {
  color: #363636;
  font-family: 'PT Sans Caption', Arial;
}

h2 {
  color: #363636;
  font-family: 'PT Sans', Arial;
}